*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  
h1 {
    /* font-family: 'Beau Rivage', cursive; */
    font-family: 'Beau Rivage', cursive;
    font-size: 70px;
    color: whitesmoke;
    padding-top: 100px;
    padding-bottom: 100px;
}  

h3 {
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
}

p{
    padding-top: 20px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
}

.startstopbuttons {
    display: flex;
    flex-direction: column;
    width: 30em;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(yellow 25%, white); 
    background: repeating-linear-gradient(yellow 50px, white 60px); */
    font-family: 'Quicksand', sans-serif;
    /* background: linear-gradient(45deg, rgb(25, 0, 255), transparent), */
    /* repeating-linear-gradient(45deg, rgb(183,0,255) 0%, rgb(183,0,255) 5%, transparent 5%, transparent 10%), */
    /* rgb(216, 118, 255) repeating-linear-gradient((-45deg, rgba(183,0,255, 0.5) 0%, rgba(183,0,255, 0.5) 5%); */
    min-height: 100vh; /* vh stands for viewport height & 100 will be taking up 100% of the screen */
    background-color: black;
    background-image:url(https://thumbs.gfycat.com/BriefIgnorantBlackbuck-size_restricted.gif); 
    background-position: center;
    background-repeat: repeat;
    background-size: 70%;

}

div {
    /* border: 1px rgb(248, 246, 246) solid; */
    padding: 10px;
    margin: 20px;
}


.row {
    display: flex;
}

.drawcard {
    padding: 20px;
    min-height: 480px;
    display: flex;
}

.p1_card_wrapper, .p2_card_wrapper {
    padding: .5em;
    min-height: 200px;
}

div.cards {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    width: 30em;  
}

#p1CardCount {
    font-weight: bold;
    color: #94c9d3;
}

#p2CardCount {
    font-weight: bold;
    color: #94c9d3;
}

#displayWinner {
    font-weight: bold;
    font-size: 40px;   
}

#start_game_button {
    background: linear-gradient(to bottom right, #b398e6, #94c9d3);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin: 20px;
    font-size: 25px;
}

#reset_game_button {
    background: linear-gradient(to bottom right, #b398e6, #94c9d3);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin: 20px;
    font-size: 25px;
}

#p1_draw_card {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

#p2_draw_card {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}
/* Button Source: https://getcssscan.com/css-buttons-examples */




/* #start_game_button {
    font-size: 50px;
    text-align: right;
    color: blue;
} */
 

